@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
.main-image{
    position: relative;
    background: url(../../../Images/banner1.jpg) no-repeat center;
    background-size: cover;
    height: 550px;
    overflow: hidden;
}
.containers{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    color: white;
    /* text-transform: uppercase; */
}
.cen{
    
    display: block;
    font-size: 60px;
    font-weight: bolder;
}
.cen2{
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    margin-bottom: 25px;
}


.button{
    color: #313131;
    margin-left: 30px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 9px;
    padding-bottom: 9px;
    background: #f1f1f1;
    border-radius: 12px;
    text-decoration: none;
    transition: .6s;
}
.button:hover{
    opacity: .6;
}
.discover-1{
    font-family: 'Scheherazade New', serif;
    font-weight: 700;
    font-size: 60px;
}
.discover-btn{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #cba146;
    border: 1px solid gray;
    border-radius: 2px;
}
@media only screen and (max-width: 390px){
    .cen{
        margin-bottom: 10px;
        display: block;
        font-size: 50px;
        font-weight: bolder;
    }
    .cen2{
        margin-bottom: 10px;
        display: block;
        font-size: 21px;
    }
}